In [27]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import numpy as np
import pprint

In [28]:
client = MongoClient('localhost', 27017)
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [29]:
db = client.zams
collection = db.employees
print(f"Accessed Databse: {db.name}")
print(f"Accessed Collection: {collection.name}")

Accessed Databse: zams
Accessed Collection: employees

In [30]:
employees = collection.find()
# for employee in employees:
#     pprint.pprint(employee)

In [31]:
start_pay = '01-28-2024'
end_pay = '03-28-2024'

In [32]:
result =[]
for employee in employees:
    First_Name = employee['first_name']
    Last_Name = employee['last_name']
    salaries = employee['salaries']
    Employee_ID = employee['_id']
    Department = employee['department']['department_name']
    
    sum_gross_pay = 0
    sum_tax_paid = 0
    salary_count = 0
    sum_net_pay = 0
    
    gross_pay_01 = None
    gross_pay_03 = None
    
    for salary in salaries:
        sum_gross_pay += salary['gross_pay']
        sum_tax_paid += salary['tax_deduction']
        salary_count += 1 
        net = salary['gross_pay'] - (salary['tax_deduction'] + salary['social_security_deduction'])
        sum_net_pay += net
        
    avg_gross_wage = sum_gross_pay / salary_count if salary_count != 0 else 0
    avg_tax_paid = sum_tax_paid / salary_count if salary_count != 0 else 0
    avg_net_wage = sum_net_pay /salary_count if salary_count !=0 else 0
    
    
    result.append({
        'Employee_ID' : Employee_ID,
        'First_Name' : First_Name,
        'Last_Name' : Last_Name,
        'Department' : Department,
        'Avg_gross_wage' : np.round(avg_gross_wage,2),
        'Avg_Tax_Paid' : np.round(avg_tax_paid,2),
        'Avg_Net_Wage' : np.round(avg_net_wage,2),
          
    })

query = pd.DataFrame(result)
query.sort_values('Employee_ID')

,Employee_ID,First_Name,Last_Name,Department,Avg_gross_wage,Avg_Tax_Paid,Avg_Net_Wage
0,1,Jackie,Chan,Legal,12183.33,4069.23,7358.73
1,2,ikun,Cai,Marketing,12388.89,3840.55,7780.22
2,3,Dennis,Hancock,Sales,12648.61,2592.97,9271.43
3,4,Jennifer,Gibson,Design,15266.67,3099.13,11221.01
4,5,Angela,Ellison,Marketing,9479.17,2407.71,6483.75
5,6,Aaron,Kemp,Finance,8500.00,2380.00,5593.00
6,7,Daniel,Farley,Finance,10312.50,1959.37,7713.75
7,8,Barbara,Adams,Legal,12100.00,4755.30,6594.50
8,9,Nicholas,Mckinney,Finance,15405.56,4221.12,10229.29
9,10,Joshua,King,Legal,8644.44,1780.76,6327.73
10,11,Mary,Hopkins,Engineering and Technology,9801.39,1764.25,7429.45
11,12,Jennifer,Vasquez,Legal,12827.78,2244.86,9787.59
12,13,Terri,Carter,Communications,10175.00,3785.10,5759.04
13,14,Daniel,Johnson,Communications,11100.00,2730.60,7681.20
14,15,Gary,Simon,Finance,13541.67,3656.25,9045.83
15,16,Michael,Murray,Marketing,13241.66,3787.11,8633.56
16,17,Melissa,Wright,Service and Support,6900.00,1276.50,5195.70
17,18,Ronald,Gutierrez,Design,8738.89,2132.29,6064.79
18,19,Stephanie,Porter,Design,12141.67,3253.97,8134.92
19,20,Richard,Jackson,Marketing,12744.45,4613.49,7340.81
20,21,Emily,Johnson,Sales,9591.67,3453.00,5543.99
21,22,Michael,Jackson,Communications,10677.78,2402.50,7613.25
22,23,Eric,Nguyen,Facilities,10527.78,2842.50,7032.55
23,24,Michele,Bruce,Marketing,12100.00,2783.00,8566.80
24,25,Lori,Waller,Engineering and Technology,12772.22,4585.23,7395.11
25,26,Amanda,Newman,Service and Support,10894.45,3758.59,6460.41
26,27,Deborah,Meyer,Design,9933.33,2423.73,6893.73
27,28,John,Baldwin,Facilities,9256.94,2156.87,6526.14
28,29,Sean,Wilson,Service and Support,10883.33,2176.67,8031.90
29,30,Nicole,Johnson,Legal,12516.67,4906.53,6834.10
30,31,Theodore,Smith,Communications,11600.00,2784.00,8096.80
31,32,Emily,Frazier,Facilities,10934.72,3050.79,7205.98
32,33,Angela,Smith,Design,14751.39,2920.78,10916.03
33,34,Sarah,Mendez,Facilities,10684.72,2756.66,7265.61
34,35,Joshua,Murphy,Facilities,9136.11,1370.42,7199.26
35,36,Justin,Harris,Legal,9990.28,2117.94,7252.94
36,37,David,Reynolds,Finance,11027.78,3683.28,6660.78
37,38,Steven,Barrera,Service and Support,13533.33,5223.87,7470.40
38,39,Ashley,Riley,Sales,15125.00,4794.63,9392.62
39,40,Harold,Dawson,Communications,8700.00,2088.00,6072.60
40,41,Andrew,Kirk,Marketing,9250.00,2210.75,6465.76
41,42,Jody,Williams,Engineering and Technology,10862.50,2509.24,7679.78
42,43,Samantha,Jones,Finance,17250.00,3829.50,12351.00
43,44,Edward,Austin,Engineering and Technology,12555.56,2837.56,8939.56
44,45,Raymond,Johnson,Design,13855.55,3547.02,9449.49
45,46,Bobby,Guerra,Sales,9251.39,3219.48,5458.32
46,47,Megan,Blake,Service and Support,10519.45,3702.85,6164.40
47,48,Christina,Drake,Service and Support,10613.89,3290.30,6665.52
48,49,Joshua,Beck,Finance,18500.00,5050.50,12302.49
49,50,Monica,Fuentes,Facilities,13177.78,4572.69,7788.06

In [33]:
pipeline = [
    {
        "$unwind": {
            "path": "$salaries",
            "preserveNullAndEmptyArrays": False
        }
    },
    {
        "$group": {
            "_id": "$department.department_name",
            "Employees_Working_Overtime": {
                "$addToSet": {
                    "$cond": [
                        {"$gt": ["$salaries.total_work_time", 160]},
                        "$_id",
                        None
                    ]
                }
            },
            "Total_Employees": {
                "$addToSet": "$_id"
            }
        }
    },
    {
        "$project": {
            "_id": 0,
            "Depart_Name": "$_id",
            "Employees_Working_Overtime": {
                "$size": {
                    "$filter": {
                        "input": "$Employees_Working_Overtime",
                        "as": "id",
                        "cond": {"$ne": ["$$id", None]}
                    }
                }
            },
            "Total_Employees": {"$size": "$Total_Employees"}
        }
    }
]
query5 = collection.aggregate(pipeline)
for result in query5:
    print(result)

{'Depart_Name': 'Facilities', 'Employees_Working_Overtime': 3, 'Total_Employees': 6}
{'Depart_Name': 'Engineering and Technology', 'Employees_Working_Overtime': 3, 'Total_Employees': 4}
{'Depart_Name': 'Sales', 'Employees_Working_Overtime': 2, 'Total_Employees': 4}
{'Depart_Name': 'Legal', 'Employees_Working_Overtime': 5, 'Total_Employees': 6}
{'Depart_Name': 'Communications', 'Employees_Working_Overtime': 1, 'Total_Employees': 5}
{'Depart_Name': 'Finance', 'Employees_Working_Overtime': 5, 'Total_Employees': 7}
{'Depart_Name': 'Design', 'Employees_Working_Overtime': 4, 'Total_Employees': 6}
{'Depart_Name': 'Marketing', 'Employees_Working_Overtime': 3, 'Total_Employees': 6}
{'Depart_Name': 'Service and Support', 'Employees_Working_Overtime': 3, 'Total_Employees': 6}